<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MemePage"
        tools:targetApi="31">
        <activity
            android:name="org.unizd.rma.roncevic.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.unizd.rma.roncevic.RestSoldierActivity"
            android:label="Rest Soldier. You have seen too much gifs"
            android:theme="@style/Theme.AppCompat"
            android:screenOrientation="portrait"
            android:parentActivityName="org.unizd.rma.roncevic.MainActivity"
            android:launchMode="standard"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name="org.unizd.rma.roncevic.GifDetailsActivity"
            android:label="GifDetails"
            android:theme="@style/Theme.AppCompat"
            android:screenOrientation="portrait"
            android:parentActivityName="org.unizd.rma.roncevic.MainActivity"
            android:launchMode="standard"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
    </application>

</manifest>